<!--
<p>Imagen visible: {{this.imagenVisible}}</p>
<button (click)="eliminar()" class="btn btn-info mb-3">Eliminar componente</button>
<p><input type="text" [(ngModel)]="imgParent"></p>
<app-img *ngIf="imagenVisible" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr>
-->
<!--
  text-center -> text-align: center;
  mx-auto -> margin-left/right: auto;
  d-block -> display: block;
 -->
<!--
<p class="text-center h1 mb-4">Ciclo de vida de Angular</p>
<img class="mx-auto d-block" src="../../../assets/img/Ciclo de vida Angular.png"
alt="Ciclo de vida Angular">
<hr>
-->
<app-nav></app-nav>
<app-products></app-products>
